[project]
	description = XSnippet is a simple web-service for sharing code snippets on the Internet.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ihor Kalnytskyi (ikalnytskyi)
[access "refs/for/refs/*"]
	read = group user/Ihor Kalnytskyi (ikalnytskyi)
	push = group user/Ihor Kalnytskyi (ikalnytskyi)
	label-Code-Review = -2..+2 group user/Ihor Kalnytskyi (ikalnytskyi)
	label-Verified = -1..+1 group user/Ihor Kalnytskyi (ikalnytskyi)
	rebase = group user/Ihor Kalnytskyi (ikalnytskyi)
	removeReviewer = group user/Ihor Kalnytskyi (ikalnytskyi)
	submit = group user/Ihor Kalnytskyi (ikalnytskyi)
[access "refs/heads/*"]
	read = group user/Ihor Kalnytskyi (ikalnytskyi)
	create = group user/Ihor Kalnytskyi (ikalnytskyi)
	push = +force group user/Ihor Kalnytskyi (ikalnytskyi)
	pushMerge = group user/Ihor Kalnytskyi (ikalnytskyi)
[access "refs/tags/*"]
	push = group user/Ihor Kalnytskyi (ikalnytskyi)
	push = +force group user/Ihor Kalnytskyi (ikalnytskyi)
