swagger: '2.0'
schemes:
  - http
host: api.xsnippet.org
info:
  title: XSnippet API
  version: '1.0'
  contact:
    email: dev@xsnippet.org
  description: |
    The XSnippet API is organized around [REST]. Our API has predictable,
    resource-oriented URLs, and uses HTTP response codes to indicate API
    errors. We use built-in HTTP features, like HTTP authentication and
    HTTP verbs, which are understood by off-the-shelf HTTP clients. See
    more details below and feel free to contact us if any questions!

    [REST]: https://en.wikipedia.org/wiki/Representational_state_transfer

    Authentication
    ==============

    Authentication is done via [JSON Web Token] (JWT) that is issued by the
    API in exchange for Google Access Token. The token needs to be passed
    via `Authorization` HTTP header, and is mandatory for those endpoints
    which require non-anonymous permissions.

    ```http
    Authorization: bearer {your-token-here}
    ```

    [JSON Web Token]: https://tools.ietf.org/html/rfc7519

    Pagination
    ==========

    Pagination is done via two query parameters: `limit` and `marker`. The
    first one limits a number of entries to be returned in response, while
    the last one – defines your position in the list by taking an entry ID
    and returning `limit` entries after that one assuming that entries are
    sorted in some (defined by concrete API endpoint) order.

    In other words if you make a list request and receive `100` entries,
    ending with `foo`, your subsequent call can include `?marker=foo` in
    order to fetch the next page of the list.

    Versioning
    ==========

    API version is passed via non-standard `Api-Version` HTTP header, and
    must be equal to `1.0` so far. In case the version is not passed, the
    latest one will be assumed.

    ```http
    Api-Version: 1.0
    ```
  x-logo:
    url: http://xsnippet.org/static/images/logo.png
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: Snippet
    description: Operations on snippets and everything related to them.
    x-displayName: Snippets
paths:
  /snippets:
    get:
      summary: List snippets
      description: |
        Returned snippets are sorted in reversed chronological order, so
        most recent ones appear first.
      parameters:
        - name: marker
          in: query
          type: integer
          minimum: 1
          format: int64
          description: |
            Last seen snippet that is used in [pagination](#section/Pagination)
            to return `limit` number of snippets after this one.
        - name: limit
          in: query
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 10
          description: A limit on the number of snippets to be returned.
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Snippet'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Snippet
    post:
      summary: Create a snippet
      parameters:
        - name: snippet
          in: body
          required: true
          schema:
            $ref: '#/definitions/Snippet'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Snippet'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Snippet
  /snippets/{snippetId}:
    parameters:
      - name: snippetId
        type: integer
        minimum: 1
        format: int64
        required: true
        in: path
    get:
      summary: Retrieve a snippet
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Snippet'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Snippet
    delete:
      summary: Delete a snippet
      responses:
        200:
          description: OK
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Snippet
definitions:
  Snippet:
    type: object
    properties:
      id:
        type: integer
        minimum: 1
        readOnly: true
      title:
        type: string
      content:
        type: string
      syntax:
        type: string
        enum:
          - actionscript
          - ada
          - apacheconf
          - applescript
          - asymptote
          - bash
          - bat
          - boo
          - brainfuck
          - bro
          - c
          - clojure
          - cmake
          - coffeescript
          - common-lisp
          - coq
          - cpp
          - csharp
          - css
          - cython
          - d
          - dart
          - delphi
          - diff
          - django
          - dylan
          - elixir
          - erb
          - erlang
          - factor
          - fancy
          - felix
          - fortran
          - fsharp
          - gas
          - gherkin
          - glsl
          - gnuplot
          - go
          - groovy
          - haskell
          - html
          - html+php
          - ini
          - io
          - java
          - javascript
          - lighttpd
          - llvm
          - lua
          - makefile
          - matlab
          - minid
          - modelica
          - modula2
          - moonscript
          - mupad
          - nasm
          - nemerle
          - newlisp
          - nginx
          - nimrod
          - objectivec
          - ocaml
          - octave
          - opa
          - perl
          - postscript
          - powershell
          - prolog
          - pycon
          - python
          - python3
          - rbcon
          - rebol
          - restructuredtext
          - ruby
          - scala
          - scheme
          - scilab
          - smalltalk
          - smarty
          - splus
          - sql
          - systemverilog
          - tcl
          - tex
          - text
          - vala
          - vb.net
          - verilog
          - vhdl
          - vim
          - xml
          - yaml
      tags:
        type: array
        items:
          type: string
      created_at:
        type: string
        format: date-time
        readOnly: true
      updated_at:
        type: string
        format: date-time
        readOnly: true
    required:
      - content
  Error:
    type: object
    properties:
      message:
        type: string
