{% extends "base.html" %}

{% block title %}Not found | xsnippet{% endblock %}

{% block head %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/notfound.js"></script>
{% endblock %}

{% block content %}

<code id="terminal"><span id="cursor"><img src="/static/images/cursor.gif" alt="">&nbsp;</span></code>
<script>
  var msg = [
    {cmd: "404^}", response: "404: command not found", br: true},
    {cmd: "^locate 404}^^", response: "", br: false},
    {cmd: "^find 404}^^", response: "find: 404: No such file or directory", br: true},
    {cmd: "^where are you???}", response: "where: command not found", br: true},
    {cmd: "^^}}HTTP 404.^} {{ error }}", response: null, br: false}
  ];
  $(document).ready(function() { terminal.init($("#terminal")); });
</script>
<noscript>
<code id="terminal">
  <h2>Error 404</h1>
  <p>{{ error }}</p>
</code>
</noscript>

<div class="clear"></div>
{% endblock %}
