{% extends "base.html" %}

{% block title %}About | xsnippet{% endblock %}

{% block content %}
<div class="about">
  <h2>About xsnippet</h2>

  <p>
    <strong>xsnippet</strong> is a simple web-service to share code snippets on the Internet.
    It's written in Python using <a href="http://code.google.com/appengine/docs/python/tools/webapp/">webapp</a>
    framework to run on <a href="http://code.google.com/appengine/">Google App Engine</a> platform.

  <p>
    The source code is distributed under GNU GPL v3 license. It's available on GitHub: <br>
    <a style="margin-left: 25px;" href="https://github.com/bloodeclipse/xsnippet">https://github.com/bloodeclipse/xsnippet</a>

  <p>
    Feel free to contribute sending us pull requests or patches. Your feedback is welcome as well.

  <h4>How can you contact us?</h4>
  <p>
    You can send mail to <a href="mailto:support@xsnippet.org">support@xsnippet.org</a>
    or check out <a href="http://twitter.com/xsnippet">our twitter</a>.

  <h4>Authors:</h4>
  <p>
    <ul class="authors">
      <li> Igor Kalnitsky  (<a href="mailto:igor@kalnitsky.org">igor@kalnitsky.org</a>)
      <li> Roman Podolyaka (<a href="mailto:roman.podolyaka@gmail.com">roman.podolyaka@gmail.com</a>)
    </ul>
</div>
{% endblock %}
