{% extends "base.html" %}

{% block title %}xsnippet{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/codemirror/theme/default.css">
<script src="/static/codemirror/lib/codemirror.js"></script>
{% endblock %}

{% block content %}
<form name="newcode" method="post" action="new">
  <textarea id="code" name="content" placeholder="paste code here..."></textarea>

  <div class="sidebar">
    <div>
      <select name="language" size="20" onchange="languageChange()">
        <option value="Autodetection" selected="selected">Autodetection</option>

        <option disabled></option>
        <option value="C">C</option>
        <option value="C++">C++</option>
        <option value="Java">Java</option>
        <option value="C#">C#</option>
        <option value="Python">Python</option>
        <option value="Perl">Perl</option>
        <option value="Bash">Bash</option>
        <option value="Nasm">ASM (Intel)</option>
        <option value="Gas">ASM (AT&amp;T)</option>
        <option value="LLVM">LLVM</option>

        <option value="" disabled></option>
        <option value="XML">XML</option>
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="JavaScript">JavaScript</option>
        <option value="PHP">PHP</option>
        <option value="SQL">SQL</option>
        <option value="Ruby">Ruby</option>
        <option value="Django">Django</option>

        <option value="" disabled></option>
        <option value="Go">Go</option>
        <option value="Haskell">Haskell</option>
        <option value="Erlang">Erlang</option>
        <option value="Lisp">Lisp</option>
        <option value="Lua">Lua</option>
        <option value="Objective-C">Objective-C</option>
        <option value="Scala">Scala</option>
        <option value="Smalltalk">Smalltalk</option>
        <option value="VBScript">VBScript</option>
        <option value="Verilog">Verilog</option>
        <option value="VHDL">VHDL</option>

        <option value="" disabled></option>
        <option value="Apache">Apache</option>
        <option value="Nginx">Nginx</option>
        <option value="CMake">CMake</option>
        <option value="diff">Diff</option>
        <option value="DOS">DOS(.bat)</option>
        <option value="Delphi">Delphi</option>
        <option value="ini">Ini</option>
        <option value="TeX">TeX</option>

        <option value="" disabled></option>
        <option value="Text">Text</option>

      </select>
    </div>

    <div>
      <input name="submit" type="submit" id="submit" value="post" onclick="saveUsername()" >  
    </div>
  </div><!-- sidebar -->

  <div class="clear"></div>

  <input type="text" name="title" id="title" placeholder="snippet title">
  <label for="title">title </label><br>

  <input type="text" name="author" id="author" placeholder="author">
  <label for="author">author </label><br>

  <input type="text" name="tags" id="tags" placeholder="separate tags by comma">
  <label for="tags">tags </label><br>

  <input type="text" name="email" id="email" placeholder="email">

  <script>
      var codeEditor = CodeMirror.fromTextArea(document.getElementById('code'), {
          lineNumbers: true,
          matchBrackets: true,
          indentUnit: 4,
          tabMode: "shift",
          enterMode: "keep",
          mode: "text/x-csrc"
      });

      function languageChange()
      {
            var modes = [];
            modes['C'] = 'text/x-csrc';
            modes['C++'] = 'text/x-c++src';
            modes['Java'] = 'text/x-java';
            modes['C#'] = '';
            modes['Python'] = 'text/x-python';
            modes['Perl'] = '';
            modes['Bash'] = '';

            modes['XML'] = 'text/html';
            modes['HTML'] = 'text/html';
            modes['CSS'] = 'text/css';
            modes['JavaScript'] = 'text/javascript';
            modes['PHP'] = 'application/x-httpd-php';
            modes['SQL'] = 'text/x-plsql';
            modes['Ruby'] = 'text/x-ruby';
            modes['Django'] = '';

            modes['Go'] = 'text/x-csrc';
            modes['Haskell'] = 'text/x-haskell';
            modes['Erlang'] = '';
            modes['Lisp'] = '';
            modes['Lua'] = 'text/x-lua';
            modes['Objective-C'] = 'text/x-csrc';
            modes['Scala'] = '';
            modes['Smalltalk'] = 'text/x-stsrc';
            modes['VBScript'] = '';
            modes['VHDL'] = '';

            modes['1C'] = '';
            modes['Apache'] = '';
            modes['Nginx'] = '';
            modes['CMake'] = '';
            modes['diff'] = 'text/x-diff';
            modes['DOS'] = '';
            modes['Delphi'] = 'text/x-pascal';
            modes['ini'] = '';
            modes['TeX'] = 'text/stex';

            var language = document.forms["newcode"]["language"].value;
            var mode = modes[language];

            codeEditor.setOption('mode', mode);
      }

      function saveUsername()
      {
          if ('localStorage' in window && window['localStorage'] !== null)
          {
              var author = document.getElementById("author").value;
              localStorage["author"] = author;
          }
      }

      function loadUsername()
      {
          if ('localStorage' in window && window['localStorage'] !== null)
          {
              if (localStorage["author"] != null)
                  document.getElementById("author").value = localStorage["author"];
          }
      }

      loadUsername();
  </script>

</form>
{% endblock %}
