{% extends "base.html" %}

{% block content %}
<form name="newcode" method="post" action="new">
  <textarea name="content" placeholder="paste code here..."></textarea>

  <div class="sidebar">
    <div>
      <select name="language" size="20">
        <option value="" selected="selected">Autodetection</option>
        
        <option disabled></option>
        <option value="cpp">C++</option>
        <option value="java">Java</option>
        <option value="cs">C#</option>
        <option value="python">Python</option>
        <option value="bash">Bash</option>

        <option value="xml">html (xml)</option>
        <option value="css">CSS</option>
        <option value="javascript">JavaScript</option>
        <option value="php">PHP</option>
        <option value="sql">SQL</option>
        <option value="ruby">Ruby</option>


        <option value="" disabled></option>
        <option value="1c">1C</option>
        <option value="apache">Apache</option>
        <option value="avrasm">AVR Assembler</option>
        <option value="axapta">Axapta</option>
        <option value="cmake">CMake</option>

        <option value="delphi">Delphi</option>
        <option value="diff">Diff</option>
        <option value="django">Django</option>
        <option value="dos">DOS .bat</option>
        <option value="erlang">Erlang</option>
        <option value="erlang_repl">Erlang REPL</option>

        <option value="go">Go</option>
        <option value="haskell">Haskell</option>
        <option value="ini">Ini</option>
        <option value="lisp">Lisp</option>
        <option value="lua">Lua</option>
        <option value="mel">MEL</option>

        <option value="nginx">Nginx</option>
        <option value="objectivec">Objective C</option>
        <option value="parser3">Parser3</option>
        <option value="perl">Perl</option>
        <option value="profile">Python profile</option>
        <option value="rsl">RenderMan RSL</option>

        <option value="rib">RenderMan RIB</option>
        <option value="scala">Scala</option>
        <option value="smalltalk">Smalltalk</option>
        <option value="tex">TeX</option>
        <option value="vala">Vala</option>
        <option value="vbscript">VBScript</option>

        <option value="vhdl">VHDL</option>
        <option value="no-highlight">Text</option>

      </select>
    </div>

    <div>
      <input name="submit" type="submit" id="submit" value="post">  
    </div>
  </div><!-- sidebar -->
  
  <div class="clear"></div>
  
  <input type="text" name="title" id="title" placeholder="snippet title">
  <label for="title">title </label><br>
  
  <input type="text" name="author" id="author" placeholder="author">
  <label for="author">author </label><br>
  
  <input type="text" name="tags" id="tags" placeholder="separate tags by comma">
  <label for="tags">tags </label><br>
  
</form>
{% endblock %}
