{% extends "base.html" %}

{% block title %}{{ snippet.title|escape }} | xsnippet.org{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/pygments/styles/colorful.css">
<!-- include highligh.js library -->
<link rel="stylesheet" href="/static/highlight.js/styles/default.css">
<script src="/static/highlight.js/highlight.pack.js"></script>
<script>
  hljs.tabReplace = '    ';
  hljs.initHighlightingOnLoad();
</script>
<!-- /include highligh.js library -->
{% endblock %}

{% block content %}
<header class="snippetinfo">
  <h2>
    {{ snippet.title|escape }}
    [ <a href="/language/{{ snippet.language|escape}}">{{ snippet.language|escape }}</a> ]
  </h2>
  
  {% if snippet.author %}
  <span class="author">by <a href="/author/{{ snippet.author|escape }}">{{ snippet.author|escape }}</a></span>
  {% endif %}
  
  {% if snippet.tags %}
  <span class="separator">/</span>
  <ul class="tags">
    {% for tag in snippet.tags %}
    <li><a href="/tags/{{ tag|escape }}">{{ tag|escape }}</a>
    {% endfor %}
  </ul>
  {% endif %}
  
  <ul class="actions">
    <li><a href="/{{ snippet.key.id }}/raw">raw</a>
    <li><a href="/{{ snippet.key.id }}/download">download</a>
    <li><a href="#" onclick="showHideEmbedBlock()">embed</a>
  </ul>
  
</header>

<div id="embed" style="display: none;">
  In order to embed this content into your website or blog, simply copy and paste code provided below:
  <pre><code class="js">&lt;script src="http://www.xsnippet.org/{{ snippet.key.id }}/embed"&gt;&lt;/script&gt;</code></pre>
</div>

{{ snippet.content }}

<script>
    function showHideEmbedBlock()
    {
        var embed = document.getElementById('embed');
        if (embed.style.display == 'none')
            embed.style.display = 'block';
        else
            embed.style.display = 'none';
    }
</script>
{% endblock %}
