{% extends "base.html" %}

{% block content %}
<form name="newcode" method="post" action="new">

  <input type = "file" name="file" id="file"><br>

  <input type="text" name="title" id="title" placeholder="snippet title">
  <label for="title">title </label><br>
  
  <input type="text" name="author" id="author" placeholder="author">
  <label for="author">author </label><br>
  
  <input type="text" name="tags" id="tags" placeholder="separate tags by comma">
  <label for="tags">tags </label><br>

  <input name="submit" type="submit" id="submit" value="post" onclick="saveUsername()" >  

  <script>
      function saveUsername()
      {
          if ('localStorage' in window && window['localStorage'] !== null)
          {
              var author = document.getElementById("author").value;
              localStorage["author"] = author;
          }
      }

      function loadUsername()
      {
          if ('localStorage' in window && window['localStorage'] !== null)
          {
              if (localStorage["author"] != null)
                  document.getElementById("author").value = localStorage["author"];
          }
      }
  
      loadUsername();
  </script>
  
</form>
{% endblock %}
