@charset 'utf-8';

/*
 *  STYLE:  xSnippet Default Style 2.0
 */ 

* {
    margin: 0px;
    padding: 0px;
}

html { 
    font-family: verdana, tahoma, arial, 'times new roman'; 
    background: #eeeeee;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { 
    display: block; 
}

.clear {
    clear: both;
}

/*
 * SHARED STYLE
 */


/*
 * WRAPPERS SECTION
 */

.header-wrapper {
    background: #282828;
    border-bottom: 2px solid #555;
}


/*
 * COMMON SECTION
 */

header, article, footer {
    width: 940px;
    margin: 0 auto;
    padding: 5px 15px;
}

/*
 * HEADER SECTION
 */
 
header {
    height: 30px;
}

header a { 
    text-decoration: none;
    color: #dfdfdf;
}

header a:hover { 
    color: #efefef;
    text-shadow: #ddd 0px 0px 2px;
    text-decoration: underline; 
}

header img {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: 5px;
}

header h1 {
    float: left;
    margin-top: 2px;
    letter-spacing: 2px;
    font: 24px/24px Verdana, Monaco;
    text-shadow: #111 0px 2px 2px;
}

header ul.navigation {
    float: right;
    list-style: none;
    display: block;
    padding-top: 3px;
}

header ul.navigation a {
    display: block;
    height: 24px;
    line-height: 24px;
    letter-spacing: 1.5px;
    margin: 0px 10px;
    font-size: 12px;
}

header ul.navigation li {
    float: left;
    border-right: 1px solid #444;
}

header ul.navigation li:first-child {
    border-left: 1px solid #444;
}


/*
 * ARTICLE SECTION
 */

article {
    padding-top: 30px;
}

article a {
    color: #800000;
}

article a:hover {
    color: #B00000;
}

/* showsnippet subsection */

article header.snippetinfo {
    background: #f6f6f6;
    font-size: 12px;
    display: block; 
    padding: 5px;
    border: 1px solid #cccccc;
    margin: 0px auto 0px;
    width: 800px;
    height: 35px;
}

article header.snippetinfo h2 {
    font-size: 16px;
    font-weight: normal;
    color: #444;
    width: 810px;
    margin: 0px auto;
    display: block; 
    font-family: georgia, serif;
}

article header.snippetinfo h2 a.title {
    color: #444;
}

article header.snippetinfo h2 a {
    color: #264;
}

article header.snippetinfo .author {
    margin-right: 10px;
    font-size: 11px;
    float: left;
}

article header.snippetinfo .separator {
    float: left;
}

article header.snippetinfo .tags {
    list-style: none;
    float: left;
    font-size: 11px;
}

article header.snippetinfo .tags li {
    float: left;
    margin-left: 10px;
}

article header.snippetinfo .tags li a {
    color: #000080;
}

article header.snippetinfo .tags li a:hover {
    color: #0000B0;
}

article header.snippetinfo ul.actions {
    list-style: none;
    float: right;
    margin-top: -9px;
}

article header.snippetinfo ul.actions li {
    float: left;
    padding: 0px 10px;
    border-left: none;
    border-right: 1px solid #ccc;
}

article header.snippetinfo ul.actions li:last-child {
    border-right: none;
}

article ul.actions li a {
    font-size: 12px;
    line-height: 14px;
    letter-slpacing: 1.5px;
    font-family: georgia;
}

article div#embed {
    font-size: 12px;
    color: #005;
    background: #fff;
    margin: 5px auto 0px;
    padding: 5px;
    width: 800px;
    border: 1px dashed #ccc;
}

article div#embed pre code {
    background: transparent;
    margin: 0px;
    min-height: 0px !important;
    width: auto;
    border: none;
}

article pre code {
    font-family: monospace;
    background: #ffffff;
    line-height: 16px;
    min-height: 400px;
    font-size: 12px;
    overflow: auto;
    display: block; 
    padding: 5px;
    border: 1px solid #cccccc;
    margin: 5px auto 0px;
    width: 800px;
}

/* form subsection */

article div.sidebar {
    float: left;
}

article div.sidebar div {
    display: block;
}

article textarea {
    float: left;
    font-family: monospace;
    line-height: 14px;
    background:	#ffffff;
    min-height: 400px;
    font-size: 11px;
    padding: 5px;
    margin: 0px 30px 25px 0px;
    border: 1px solid #cccccc;
    width: 730px;
    resize: none;
}

article select {
    background: #eeeeff;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #333333;
    font-family: monospace;
    min-width: 168px;
}

article input#submit {
    margin-top: 30px;
    padding: 5px 30px;
    border: 1px solid #cccccc;
    color: #eeeeee;
    width: 100px;
    
    background: #2e76cf; 
    background-image: -moz-linear-gradient(100% 100% 90deg, #2e76cf, #52a8e8) !important; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#2e76cf)) !important; 
}

article input#submit:hover {
    background: #195ebc; 
    background-image: -moz-linear-gradient(100% 100% 90deg, #195ebc, #307ec8) !important; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#307ec8), to(#195ebc)) !important; 
}

article label {
    font-size: 13px;
    color: #444;
    letter-spacing: 2px;
}

article input[type="text"] {
    width: 365px;
    padding: 3px;
    font-size: 13px;
    border: 1px solid #cccccc;
    margin: 3px 0px;
}

article input#file {
    width: 365px;
    padding: 3px;
    font-size: 13px;
    border: 1px solid #cccccc;
    margin: 3px 0px;
}

article div.about {
    text-align: justify;
    width: 700px;
    margin: 0px auto;
}

article h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

article p {
    color: #333;
    font-size: 14px;
    margin: 10px 0px;
}

article p a, article ul.authors a {
    text-decoration: none;
}

article p a:hover, article ul.authors a:hover {
    border-bottom: 1px dashed #800;
}

article ul.authors {
    color: #333;
    font-size: 14px;
    list-style: none;
    margin-left: 25px;
}

article div.logo {
    display: block;
    float: left;
}

article div.error {
    display: block;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
}

/*
 * FOOTER SECTION
 */

footer {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #cccccc;
    font: 11px/18px Verdana;
}
  
footer a {
    color: #800000;
    text-decoration: none;
}

footer a:hover {
    color: #B00000;
    text-decoration: underline;
}
