@charset 'utf-8';

/*
 *  STYLE:  xSnippet Default Style 2.1
 */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: verdana, tahoma, arial, 'times new roman';
    background: #f8f8f8;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.clear {
    clear: both;
}

.tooltip {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 3px 4px;
    width: 300px;
    display: none;
    color: #eee;
    text-align: left;
    font-size: 12px;
    border-radius: 3px;
}

.tooltip .title {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.tooltip code {
    padding: 1px 3px;
    display: block;
    margin: 3px 2px;
    border-left: 2px solid #00c9f4;
}

/*
 * HOLIDAY SECTION. REMOVE WHEN HOLIDAY EXPIRED.
 */
.holiday {
    position: relative;
    top: 3px;
    margin-right: -20px;
}

/*
 * SHARED STYLE
 */


/*
 * WRAPPERS SECTION
 */

.header-wrapper {
    background: #151515;
    border-bottom: 2px solid #555;
}


/*
 * COMMON SECTION
 */

header#header, article, footer {
    width: 940px;
    margin: 0 auto;
    padding: 5px 15px;
}

/*
 * HEADER SECTION
 */

header#header {
    height: 30px;
}

header#header a {
    text-decoration: none;
    color: #dfdfdf;
}

header#header a:hover {
    color: #efefef;
    text-shadow: #ddd 0px 0px 2px;
}

header#header img {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 1px;
}

/* #00c9f4 -- cool for shadows. note for future. */

header#header h1 {
    float: left;
    margin-top: 1px;
    letter-spacing: 2px;
    font: 24px/24px Ubuntu, Verdana;
    text-shadow: 0px 1px 2px #111;
}

header#header #searchform {
    float: left;
    margin-top: 3px;
    margin-left: 50px;
}

header#header #searchform #search {
    background: #1a1a1a;
    padding: 2px 3px;
    border: 1px solid #202020;
    color: #888;
    width: 400px;
    font-size: 13px;
    letter-spacing: 0.1em;
    border-radius: 2px;
}

header#header #searchform #search:hover {
    border: 1px solid #333;
}

header#header ul.navigation {
    float: right;
    list-style: none;
    display: block;
    padding-top: 3px;
}

header#header ul.navigation a {
    display: block;
    height: 24px;
    line-height: 24px;
    margin: 0px 10px;
    font-size: 13px;
}

header#header ul.navigation li {
    float: left;
    border-right: 1px solid #444;
}

header#header ul.navigation li:first-child {
    border-left: 1px solid #444;
}


/*
 * ARTICLE SECTION
 */

article {
    padding-top: 30px;
}

article a {
    color: #800000;
    text-decoration: none;
}

article a:hover {
    color: #B00000;
    text-decoration: underline;
}

/* showsnippet subsection */

article > header.snippetinfo {
    background: #f6f6f6;
    font-size: 12px;
    display: block;
    padding: 5px;
    border: 1px solid #cccccc;
    margin: 0px auto 0px;
    width: 800px;
    height: 35px;
}

article > header.snippetinfo h2 {
    font-size: 16px;
    font-weight: normal;
    color: #444;
    width: 810px;
    margin: 0px auto;
    display: block;
    font-family: georgia, serif;
}

article > header.snippetinfo h2 a.title {
    color: #444;
}

article > header.snippetinfo h2 a {
    color: #264;
}

article > header.snippetinfo .author {
    margin-right: 10px;
    font-size: 11px;
    float: left;
}

article > header.snippetinfo .separator {
    float: left;
}

article > header.snippetinfo .tags {
    list-style: none;
    float: left;
    font-size: 11px;
}

article > header.snippetinfo .tags li {
    float: left;
    margin-left: 10px;
}

article > header.snippetinfo .tags li a {
    color: #000080;
}

article > header.snippetinfo .tags li a:hover {
    color: #0000B0;
}

article > header.snippetinfo ul.actions {
    list-style: none;
    float: right;
    margin-top: -9px;
}

article > header.snippetinfo ul.actions li {
    float: left;
    padding: 0px 10px;
    border-left: none;
    border-right: 1px solid #ccc;
}

article > header.snippetinfo ul.actions li:last-child {
    border-right: none;
}

article ul.actions li a {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.5px;
    font-family: georgia;
}

article div#embed {
    font-size: 11px;
    color: #777;
    background: #fff;
    margin: 5px auto 0px;
    padding: 5px;
    width: 800px;
    border: 1px dashed #ccc;
}

article div#embed pre code {
    background: transparent;
    margin: 5px 1px;
    display: block;
    min-height: 0px !important;
    width: auto;
    border: none;
    color: #005;
    border-left: 1px solid #005;
    padding-left: 7px;
}

article code#terminal {
    display: block;
    background: #000;
    opacity: 0.9;
    color: #eee;
    margin-left: 10px;
    padding: 5px;
    border-left: 2px solid #00c9f4;
    height: 250px;
}

article table.highlighttable {
    font-family: monospace;
    background: #ffffff;
    min-height: 400px;
    overflow: auto;
    display: block;
    border: 1px solid #cccccc;
    margin: 5px auto 0px;
    width: 812px;
    line-height: 16px;
    font-size: 12px;
}

article td.linenos {
    background: #f8f8f8;
    border-right: 1px solid #cccccc;
    padding: 5px 7px 4px;
    display: block;
    min-width: 15px;
    text-align: right;
    min-height: 400px;
}

article td.code {
    width: 100%;
    padding: 4px;
    vertical-align: top;
}

/* form subsection */

article div.sidebar {
    float: left;
}

article div.sidebar div {
    display: block;
}

article textarea,
article .CodeMirror {
    float: left;
    font-family: monospace;
    line-height: 15px;
    background: #ffffff;
    font-size: 13px;
    padding: 5px;
    margin: 0px 30px 25px 0px;
    border: 1px solid #cccccc;
    width: 730px;
    resize: none;
}

article select {
    background: #eeeeff;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #333333;
    font-family: monospace;
    min-width: 168px;
}

article button#submit {
    margin-top: 30px;
}

article input#submit:hover {
    background: #195ebc; 
    background-image: -moz-linear-gradient(100% 100% 90deg, #195ebc, #307ec8) !important; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#307ec8), to(#195ebc)) !important; 
}

article label {
    font-size: 13px;
    color: #444;
    letter-spacing: 2px;
}

article input[type="text"] {
    width: 365px;
    padding: 3px;
    font-size: 13px;
    border: 1px solid #cccccc;
    margin: 3px 0px;
    background: #ffffff;
}

article input#file {
    width: 365px;
    padding: 3px;
    font-size: 13px;
    border: 1px solid #cccccc;
    margin: 3px 0px;
    background: #ffffff;
}

article input#email {
    position: absolute;
    left: -2000px;
}

article div.page {
    text-align: justify;
    width: 700px;
    margin: 0px auto;
}

article div.page h4 {
    font-size: 14px;
    margin-top: 30px;
    display: block;
    color: #333;
}

article h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

article p {
    color: #333;
    font-size: 14px;
    margin: 10px 0px;
}

article .page ul {
    color: #333;
    font-size: 14px;
    list-style: square;
    padding-left: 25px;
    margin-left: 3px;
}

article .page > ul {
    border-left: 4px solid #880000;
}

article .page ol {
    color: #333;
    font-size: 14px;
    margin-left: 35px;
}

article .page ol li {
    padding: 3px;
}

article .page .app {
    margin-top: 20px;
    margin-left: 3px;
    padding-left: 20px;
    border-left: 4px solid #146; /* #146 */
    font-size: 0.8em;
}
article .page .app p,
article .page .app ul,
article .page .app ol {
    font-size: 1em;
}

article .page .app blockquote {
    color: #008;
    border-left: 1px dashed #008;
    padding-left: 10px;
    margin: 10px 1px;
}

article .page .app code.block {
    padding: 10px 0px;
    display: block;
    margin-left: 15px;
    font-size: 1.3em;
}

article .page .app header {
}

article .page .app footer {
    width: 700px;
    margin-top: 15px;
    border-top: 1px dotted #ccc;
}

article .page .app footer .sourcelink,
article .page .app footer .downloadlink {
    float: right;
    margin-left: 15px;
}

article .page .left {
    float: left;
}

article .page .app img {
    height: 300px;
}

article .page .app-list li {
    padding: 3px;
}

article div.logo {
    display: block;
    float: left;
}

article div.error {
    display: block;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
}

/*
 * FOOTER SECTION
 */

body > footer {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #cccccc;
    font: 11px/18px Verdana;
}

body > footer a {
    color: #800000;
    text-decoration: none;
}

body > footer a:hover {
    color: #B00000;
    text-decoration: underline;
}

.submit {
    width: 100px;
    height: 28px;
    padding: 0 0 2px;
    font: 14px Verdana, "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #42788E;
    text-shadow: 1px 1px #B6E6F9;
    border: 1px solid #60A7C1;
    border-top: 1px solid #8CC5D9;
    border-bottom: 1px solid #4191B0;
    background: -moz-linear-gradient(top,  #abe4f8 0%, #74d0f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abe4f8), color-stop(100%,#74d0f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* IE10+ */
    background: linear-gradient(top,  #abe4f8 0%,#74d0f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe4f8', endColorstr='#74d0f4',GradientType=0 ); /* IE6-9 */
    background-color: #8CD8F6;
}
.submit::-moz-focus-inner{border:0}
.submit:hover {
    border-top: 1px solid #79ACBE;
    background: -moz-linear-gradient(top,  #80d4f5 0%, #92dbf6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80d4f5), color-stop(100%,#92dbf6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* IE10+ */
    background: linear-gradient(top,  #80d4f5 0%,#92dbf6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80d4f5', endColorstr='#92dbf6',GradientType=0 ); /* IE6-9 */
    background-color: #8CD8F6;
}
.submit:active {
    top: 1px;
    border: 1px solid #72AFC5;
    border-top: 1px solid #5C8D9F;
    border-bottom: 1px solid #7DBFD8;
    background: #8CD6F3;
}
